Package: com.awemex.v7.anchorsearch
Name: AwemeX V7 Anchor Search
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Description: Right-button scaling anchored to bottom-right and fixed top-right search hiding
Version: 7.0
Maintainer: test
Author: test
Section: Tweaks
