
Package: com.awemex.minimal
Name: AwemeX Minimal AX
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Description: Minimal AX button test
Version: 1.0
Maintainer: test
Author: test
Section: Tweaks
