Package: com.awemex.v6.hidesearch
Name: AwemeX V6 Hide Search
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Description: AX settings panel with stable top-right search hiding
Version: 6.0
Maintainer: test
Author: test
Section: Tweaks
